openapi: 3.1.0
info:
  title: Oracle Health Data Intelligence - Allergy API
  version: v1
  description: |
    Allergy API for Oracle Health Data Intelligence (formerly Cerner HealtheIntent).
    Provides population-scoped access to patient allergies.
  contact:
    name: Oracle Health Data Intelligence
    url: https://docs.healtheintent.com/api/v1/allergy/
servers:
  - url: https://cernerdemo.api.us-1.healtheintent.com/allergy/v1
    description: Cerner demo environment
security:
  - bearerAuth: []
paths:
  /populations/{populationId}/patients/{patientId}/allergies:
    get:
      summary: Retrieve a list of allergies for a patient
      operationId: listAllergies
      parameters:
        - name: populationId
          in: path
          required: true
          schema:
            type: string
          description: Population identifier
        - name: patientId
          in: path
          required: true
          schema:
            type: string
          description: Patient identifier
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Maximum number of results per page
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor returned from a previous response
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          explode: true
          description: Filter by allergy status
      responses:
        '200':
          description: A paginated list of allergies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Allergies'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
  /populations/{populationId}/patients/{patientId}/allergies/{allergyId}:
    get:
      summary: Retrieve a single allergy
      operationId: getAllergy
      parameters:
        - name: populationId
          in: path
          required: true
          schema:
            type: string
        - name: patientId
          in: path
          required: true
          schema:
            type: string
        - name: allergyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A single allergy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Allergy'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token supplied via the Authorization header.
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Allergies:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Allergy'
        firstLink:
          type: string
        nextLink:
          type: string
    Allergy:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        assertedOn:
          type: string
          format: date-time
        onset:
          type: string
          format: date-time
        resolvedOn:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/CodeableConcept'
        type:
          $ref: '#/components/schemas/CodeableConcept'
        category:
          $ref: '#/components/schemas/CodeableConcept'
        code:
          $ref: '#/components/schemas/CodeableConcept'
        criticality:
          $ref: '#/components/schemas/CodeableConcept'
        asserter:
          type: object
          properties:
            type:
              type: string
        encounter:
          type: object
          properties:
            id:
              type: string
        notes:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              text:
                type: string
              author:
                type: string
              type:
                type: string
        provenances:
          type: array
          items:
            type: object
        reactions:
          type: array
          items:
            type: object
            properties:
              reaction:
                $ref: '#/components/schemas/CodeableConcept'
              severity:
                $ref: '#/components/schemas/CodeableConcept'
        sourceIdentifier:
          type: object
          properties:
            dataPartitionId:
              type: string
            id:
              type: string
    CodeableConcept:
      type: object
      properties:
        codings:
          type: array
          items:
            type: object
        sourceCodings:
          type: array
          items:
            type: object
        concepts:
          type: array
          items:
            type: object
        text:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
